*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px solid transparent;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: #ffc107;
}

*::selection {
    color: black;
    background-color: #ffc107;
}

/* ============================================================================= */
.quote-app {
    padding: 10px;
}

.quote-app h1 {
    font-size: 80px;
    font-weight: 700;
}

.quote-app .press,
.quote-app .quote,
.quote-app .author {
    font-size: 35px;
    font-weight: 400;
}

.quote-app button {
    font-size: 30px;
    padding: 30px;
}